.card {
  height: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
}

.profile-container {
  margin-right: 30px;
}
.profile-container h1 {
  font-size: 30px;
}

.profile-container h4 {
  font-size: 18px;
  color: #605a56;
}
.profile-container p {
  font-size: 18px;
  color: #929aab;
}

.show-container {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card-wrapper {
  min-width: 300px;
  min-height: 300px;
  box-shadow: 1px 1px 1px gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center;
  color: #7d7d7d;
  position: relative;
}

.chef-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: black;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: left;
}
.card-user {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 100px;
  border-radius: 50%;
}
.stars {
  color: black;
}
