// Specific CSS for your home-page

body {
  background-color: #FFFFFF
}

/* navbar */
.navbar-logo {
  background: white;
  box-shadow: 0px 0px 1px 0px rgba(7, 0, 0, 1);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: absolute;
  width: 100%;
}
.logo {
  height: 50px;
}
/* Logo */
.navbar-brand {
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.navbar-brand h4 {
  margin-left: 10px
}
/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
}
/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: #FFFFFF;
  font-size: 14px;
  // text-shadow: 0.5px 0.5px 0.5px #000000;
}

.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}

.logo-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-h1 h1 {
  padding: 20px 13px 25px;
  font-family: "Open Sans";
  font-size: 33px;
  color: #000000;
  font-weight: lighter;
  // margin: 1px 0px 0px;
  // text-shadow: 0.5px 0.5px 0.5px #000000;
}

.banner {
  background-size: cover;
  background-position: inherit;
  padding: 200px 0;
  height: 82vh;
}

.explore h1 {
  font-family: "Open Sans";
  font-size: 30px;
  padding: 10px 85px 0px;
  font-weight: lighter;
}

.card-home {
  height: 390px;
  border-radius: 4px;
  background-size: cover !important;
  background-position: center;
  color: #7d7d7d;
  position: relative;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
  margin-bottom: 180px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.card-home-description {
  bottom: 10px;
  left: 10px;
  background-color: white;
}

.chef-home-image {
  width: 281px;
  height: 265px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
}

.chef-home-name {
  size: 32px;
  color: #000000;
  font-family: "Source Sans Pro";
  padding: 19px 15px;
  margin-bottom: 8px;
}

.chef-home-cuisine {
  size: 16px;
  font-family: "Open Sans Hebrew";
  color: #000000;
  font-weight: lighter;
  padding: 0px 17px;
}

.container {
  width: 90.1%;
}

.form-home {
  width: 370px;
  margin: 42px 0px 10px;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  padding: 6px;
}
