.kitchen-foodie {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 55vh;
}

.kitchen-foodie-bookings-container {
  // padding: 0 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.kitchen-foodie-profile-container {
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  height: 80vh;
  h1 {
    margin-top: 25px;
  }
}

.kitchen-foodie-profile {
  margin: 25px 0px 0px;
  // margin-right: 150px;
  box-shadow: 1px 3px 7.5px 1px grey;
  padding: 25px 15px 25px;
  border-radius: 4px;
  width: 500px;
  padding-bottom: 30px;
}

.book-chef-title {
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  // height: 100px;
  background-color: white;
  z-index: 2;
  padding-top: 0.5px;
  padding-bottom: 10px;
}

.booked-card {
  margin: 20px 10px;
}

 // flex: 0 0 450px;
 //  height: 100vh;
 //  position: sticky !important; /* !important to override Gmaps inline CSS */
 //  top: 0

.kitchen-foodie-bookings {
  width: 500px;
  z-index: -1;
}

.kitchen-foodie-user {
  text-align: center;
}

.kitchen-foodie-user-image {
  border-radius: 50%;
  box-shadow: 1px 3px 7.5px 0px grey;
}

.edit {
  padding: 8px 8px 8px;
  margin: 5px 15px 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 2.5px 0px grey;
}
