.kitchen-foodie {
  display: flex;
  justify-content: space-between;
}

.kitchen-foodie-profile {
  width: 500px;
}

.kitchen-foodie-bookings {
  width: 500px;
}

.kitchen-foodie-user {
  text-align: center;
}

.kitchen-foodie-user-image {
  border-radius: 50%;
}
