<h1>New Booking</h1>

<div class="container">
  <%= @chef.first_name %>

  <%= simple_form_for [@chef, @booking], url: foodie_bookings_path, method: 'get' do |f| %>
    <%= f.input :date, class: 'form-control-sm' %>
    <%= f.submit %>
  <% end %>
</div>
