<div class="banner" style="background-image: url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551167399/chef-coffee-cook-887827.jpg);">
  <div class="container">
    <!-- <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>

<div class="explore">
<h1>Explore Chefs</h1>


<!-- <div class="card-trip">
  <img src="https://res.cloudinary.com/harrisongarovi/image/upload/v1551167399/chef-coffee-cook-887827.jpg">
  <div class="card-trip-infos">
    <div>
      <h2>Bobby</h2>
      <p>Japanese</p>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <% @chefs.each do |chef| %>
      <div class="col-xs-12 col-sm-3">
       <div class="card-home">
        <div class="card-home-description">
          <%= link_to chef_path(chef) do %>
         <%= cl_image_tag(chef.photo, class: 'chef-home-image') %>
         <p class='chef-home-name'> <%=  chef.first_name.capitalize %> <%= chef.last_name.capitalize %></p>
         <p class='chef-home-cuisine'>Japanese</p>
         <% end %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



</div>
