<div class="banner" style="background-image: url(https://res.cloudinary.com/harrisongarovi/image/upload/v1551167399/chef-coffee-cook-887827.jpg);">
  <div class="container">
    <!-- <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>

<div class="explore">
<h1>Explore Chefs</h1>



</div>
