.chefs-name {
  text-decoration: underline;
}

.button {
  background-color: #ff5959;
  color: white;
  font-size: 15px;
  text-align: center;
}

.button:hover {
  color: white;
  font-weight: bold;
  background-color: #db2d43;
}
.datepicker {
  width: 200px;
  background-color: #ff5959;

}

.sumit {
  font-size: 15px;
  font-weight: lighter;
}

.booklabel {
  background-color: #ff5959;
  color: white;
  font-size: 15px;
  margin-top: 5px;
}
.booklabel:hover {
  color: white;
  font-weight: bold;
  background-color: #db2d43;
}
