.booked-card {
  height: 250px;
    background-size: cover !important;
    background-position: center;
    color: white;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 45px;
    margin-top: 0px;
    box-shadow: 1px 3px 7.5px 1px grey;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 4px;
}

.booked-card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.booked-card-category {
  position: absolute;
  top: 53px;
  left: 25px;
  font-size: 15px;
  text-transform: capitalize;
  color: red;
}

.booked-card-date {
  position: absolute;
  top: 80px;
  left: 25px;
  font-size: 15px;
  text-transform: capitalize;
  color: #000000;
}

.booked-chef {
  position: absolute;
  right: 0px;
  bottom: 200px;
}

.booked-card-description {
  position: absolute;
  bottom: 50px;
  left: 25px;
  color: #000000;
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: lighter;
}
.booked-card-description h2 {
  font-size: 24px;
}
.booked-card-description p {
  font-size: 20px;
  color: #000000;
  font-weight: lighter;
  font-family: "Open Sans"
}
.booked-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.booked-card-link:hover {
  opacity: 0.1;
}
